/* MINXINS */

@mixin flex-container {
    display: flex;
    align-items: center;
}

/* VARIABLES */

$primary-font: 'Open Sans', sans-serif;
$primary-color: #008e76;
$secondary-color: #00bfa5;
$tertiary-color: #5df2d6;

/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* GLOBALS */

* {
  box-sizing: border-box;
  font-family: $primary-font
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  padding: 15px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 7px;
}

h2 {
  font-weight: 300;
}

input, input:focus {
  outline: none;
  border: 0;

  &::placeholder {
    color: rgba(151, 151, 151, 0.479);
  }
}

button {
  margin: .3em;
  padding: .5em;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;

  &:hover {
      opacity: .8;
  }
}

/* IMPORT PARTIALS */

@import 'add-todo';
@import "card" ;
@import "clear-storage" ;
@import "todo-list" ;
@import "your-name" ;