.todo-list {
    margin: auto;
    padding-top: .5em;

    max-width: 700px;
    min-width: 300px;
    height: 100%;

    background-color: rgb(226, 224, 224);
}

.edit {
    width: 100%;
    font-size: 1rem;
}

.add {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 2;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3em;

    border: 0;
    border-radius: 50%;
    background-color: #008e76;
    transition: .5s;
}

.add:hover {
    transform: rotate(90deg);
    background-color: #00bfa5;
}

.new-todo {
    padding: 7px;
    width: calc(100% - 40px);

    z-index: 1;

    font-size: 1.2em;
    border-radius: 15px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

.input-wrapper::after {
    content: "";

    position: absolute;
    bottom:0;
    left: 0;

    width: 100%;
    height: 50px;

    background-color: #5df2d6;
}